<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>10</integer>
        <key>y</key>
        <integer>341</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>174</integer>
        <key>y</key>
        <integer>342</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>181</integer>
        <key>y</key>
        <integer>503</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>335</integer>
        <key>y</key>
        <integer>503</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>344</integer>
        <key>y</key>
        <integer>174</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>499</integer>
        <key>y</key>
        <integer>172</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>497</integer>
        <key>y</key>
        <integer>618</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>656</integer>
        <key>y</key>
        <integer>612</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>665</integer>
        <key>y</key>
        <integer>338</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>985</integer>
        <key>y</key>
        <integer>339</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>988</integer>
        <key>y</key>
        <integer>417</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1147</integer>
        <key>y</key>
        <integer>415</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1141</integer>
        <key>y</key>
        <integer>338</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1226</integer>
        <key>y</key>
        <integer>339</integer>
    </dict>
</array>
</plist>
