<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>19</integer>
        <key>y</key>
        <integer>626</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>132</integer>
        <key>y</key>
        <integer>624</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>134</integer>
        <key>y</key>
        <integer>464</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>298</integer>
        <key>y</key>
        <integer>453</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>299</integer>
        <key>y</key>
        <integer>386</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>446</integer>
        <key>y</key>
        <integer>386</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>448</integer>
        <key>y</key>
        <integer>301</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>781</integer>
        <key>y</key>
        <integer>303</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>770</integer>
        <key>y</key>
        <integer>381</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>914</integer>
        <key>y</key>
        <integer>379</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>921</integer>
        <key>y</key>
        <integer>464</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1264</integer>
        <key>y</key>
        <integer>460</integer>
    </dict>
</array>
</plist>
