<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>124</integer>
        <key>y</key>
        <integer>613</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>234</integer>
        <key>y</key>
        <integer>561</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>329</integer>
        <key>y</key>
        <integer>531</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>458</integer>
        <key>y</key>
        <integer>470</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>570</integer>
        <key>y</key>
        <integer>415</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>749</integer>
        <key>y</key>
        <integer>307</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>815</integer>
        <key>y</key>
        <integer>197</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>957</integer>
        <key>y</key>
        <integer>233</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1037</integer>
        <key>y</key>
        <integer>375</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1071</integer>
        <key>y</key>
        <integer>458</integer>
    </dict>
</array>
</plist>
