<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>740</integer>
        <key>y</key>
        <integer>715</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>738</integer>
        <key>y</key>
        <integer>627</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>775</integer>
        <key>y</key>
        <integer>619</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>785</integer>
        <key>y</key>
        <integer>536</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>779</integer>
        <key>y</key>
        <integer>424</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>584</integer>
        <key>y</key>
        <integer>422</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>582</integer>
        <key>y</key>
        <integer>295</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>700</integer>
        <key>y</key>
        <integer>307</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1263</integer>
        <key>y</key>
        <integer>294</integer>
    </dict>
</array>
</plist>
