<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>60</integer>
        <key>y</key>
        <integer>341</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>145</integer>
        <key>y</key>
        <integer>337</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>144</integer>
        <key>y</key>
        <integer>180</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>376</integer>
        <key>y</key>
        <integer>185</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>375</integer>
        <key>y</key>
        <integer>341</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>619</integer>
        <key>y</key>
        <integer>340</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>618</integer>
        <key>y</key>
        <integer>182</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>868</integer>
        <key>y</key>
        <integer>184</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>867</integer>
        <key>y</key>
        <integer>346</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1106</integer>
        <key>y</key>
        <integer>343</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1106</integer>
        <key>y</key>
        <integer>421</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1226</integer>
        <key>y</key>
        <integer>422</integer>
    </dict>
</array>
</plist>
