<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>62</integer>
        <key>y</key>
        <integer>419</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1223</integer>
        <key>y</key>
        <integer>421</integer>
    </dict>
</array>
</plist>
