<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>15</integer>
        <key>y</key>
        <integer>419</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>414</integer>
        <key>y</key>
        <integer>415</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>422</integer>
        <key>y</key>
        <integer>541</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>490</integer>
        <key>y</key>
        <integer>540</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>500</integer>
        <key>y</key>
        <integer>424</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>703</integer>
        <key>y</key>
        <integer>416</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>698</integer>
        <key>y</key>
        <integer>302</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>1266</integer>
        <key>y</key>
        <integer>297</integer>
    </dict>
</array>
</plist>
