<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{414,102}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,13},{414,102}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>logo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{414,102}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,13},{414,102}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>logo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,102}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,13},{414,102}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logos.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfc072cd65161be2d7f61aa55e5b4a22$</string>
            <key>textureFileName</key>
            <string>logos.png</string>
        </dict>
    </dict>
</plist>
