<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,240}}</string>
                <key>sourceSize</key>
                <string>{272,240}</string>
            </dict>
            <key>moon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,240}}</string>
                <key>sourceSize</key>
                <string>{272,240}</string>
            </dict>
            <key>moon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{272,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,240}}</string>
                <key>sourceSize</key>
                <string>{272,240}</string>
            </dict>
            <key>moon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,244},{272,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,240}}</string>
                <key>sourceSize</key>
                <string>{272,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moon.png</string>
            <key>size</key>
            <string>{550,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a30a1aa9400385327ea6fb5713f48f45$</string>
            <key>textureFileName</key>
            <string>moon.png</string>
        </dict>
    </dict>
</plist>
